.MisArchivos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.openModalBtn{
    background: none;
    border: none;
    cursor: pointer;
}
